<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,tr,td,th{
            padding:10px;
            border:1px solid black;
        }
    </style>
</head>
<body>
    <h1>Student List</h1>
    <table>
        <tr>
            <th>Name </th>
            <th>Action</th>
        </tr>
        {% for  student in  students %}
        <tr>
            <td> {{student.name}} </td>
            <td><a href={% url 'custom' student.id  %}>Detail</a></td>
        </tr>
    {% endfor %}
    </table>

    <br><br>
    <h2><a href={% url 'home' 1 %}>Home</a></h2>
    <h2><a href={% url 'listDetail' 1  %}>Detail & List</a></h2>
    
    
    
</body>
</html>