<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Page Detail</h1>
  Id: {{stu.id}} <br>
  Name:  {{stu.name}} <br>
  Roll:  {{stu.roll}} <br>
  Course:  {{stu.course}} <br>

<br>
    <a href={% url 'home' 1 %}>Home</a>
    <br><br>
    <a href={% url 'list'  %}>Students List</a>
</body>
</html>