<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <a href="{% url 'studentInfo' %}"  rel="noopener noreferrer">Click here </a> to Check Student Info

    <h3>This project also have admin login</h3>
    <a  target="_blank" href="/admin"  rel="noopener noreferrer">Click here </a> for Admin
</body>
</html>