<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <style>
    .errorlist{
        color:red;
    }
    th,td{
        border:1px solid black;
        padding:2px;
    }
    </style>
</head>
<body>

<h3>Model Form</h3>
<form action="" method="post" novalidate>
{% csrf_token %} 
{{form.as_p}}
<button type="submit">Submit</button>
</form>

  <h3>Student Info </h3>
    {%  if stu %}
    <table>
        <tr>
            <th>Id </th>
            <th>Name </th>
            <th>Email </th>
            <th>Password </th>
        </tr>
        {% for st in stu%}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.name}}</td>
            <td>{{st.email}}</td>
            <td>{{st.password}}</td>
        </tr>
        
            {% endfor %}
    </table>
    {% else %}
    <h1>No Data</h1>
    {% endif %}

    <h3><a href="{% url 'home' %}">Home</a></h3>
</body>
</html>