<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Cookie</title>
</head>
<body>
    <h1>Cookie Deleted...</h1>
    <a href="{% url 'setcookie' %}">Set Cookie</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'getcookie' %}">Get Cookie</a>

    <h3>Signed Cookie</h3>
    <a href="{% url 'setsigned' %}">Set Cookie</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'getsignedcookie' %}">Get Cookie</a> &nbsp;&nbsp;&nbsp;&nbsp;

    <br>
    <br>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>