<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cache</title>
</head>
<body>
    <h1><b>Per Site Cache(Whole Site)</b></h1>
    <h1>Course 1</h1>
    <h1>Course 2</h1>
    <h1>Course 3</h1>
    <h1>Course 4</h1>
<br>
<p>Change(uncomment) in settings.py for different type of storage eg: db or file or local memory </p>
    <br><br>
   <h1><a href="{% url 'view' %}">Per View</a></h1> 
   <br><br>
   <h1><a href="{% url 'template' %}">Template Fragment</a></h1>

   
</body>
</html>