<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Redirect View</h1>
    <h2>Home Page</h2>
    <h3><a href={% url 'base' %}>Base</a></h3>
    <h3><a href={% url 'home' %}>Home</a></h3>
    <h3><a href={% url 'index' %}>Index</a></h3>
    <h3><a href={% url 'anamika' %}>Resume</a></h3>
    <h3><a href={% url 'resume' %}>Resume From View</a></h3>
    <h3><a href={% url 'pattern' %}>Pattern</a></h3>
    <h3><a href={% url 'geek' 1 %}>Pattern new( with int value ) </a></h3>
    {{pk}}
</body>
</html>