<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        tr,td,th{
            border:1px solid black;
            padding:10px;
        }
    </style>
</head>
<body>
    <h2>Model Inheritance Using Abstract Class</h2>
    <h3>Student Information</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Fees</th>
        </tr>
        {% for student in  students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.fees}}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <h3>Teacher Information</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Date</th>
        </tr>
        {% for teacher in  teachers %}
        <tr>
            <td>{{teacher.id}}</td>
            <td>{{teacher.name}}</td>
            <td>{{teacher.age}}</td>
            <td>{{teacher.salary}}</td>
            <td>{{teacher.date}}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <h3>Contractors Information</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Payment</th>
            <th>Date</th>
            

        </tr>
        {% for cont in  contractors %}
        <tr>
            <td>{{cont.id}}</td>
            <td>{{cont.name}}</td>
            <td>{{cont.age}}</td>
            
            <td>{{cont.payment}}</td>
            <td>{{cont.date}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>